# Sensitive config
appsettings.json
appsettings.Development.json

# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
*.nupkg
packages/

# Published output
publish/